@charset 'utf-8';

*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none; color: inherit;}
body{background-color: #3E5547;}

/* font */
@font-face {
    font-family: 'FuturaPT E-Bold';
    font-style: normal;
    font-weight: normal;
    src: url('/font/FuturaCyrillicExtraBold.woff') format('woff');
}
@font-face {
    font-family: 'Futura PT Heavy';
    font-style: normal;
    font-weight: normal;
    src: url('/font/FuturaCyrillicHeavy.woff') format('woff');
}
@font-face {
    font-family: 'Futura PT Bold';
    font-style: normal;
    font-weight: normal;
    src: url('/font/FuturaCyrillicBold.woff') format('woff');
}
.sub_header div, .contactme_title{
    font-family: 'FuturaPT E-Bold';
}
header div, .skill_title, .cboxtitle{
    font-family: 'Futura PT Bold';
}
.java, .c, .mysql, .eclips, .vscode, .sts, .figma,
.javascript, .jquery, .html, .css, .react, .spring, .jsp, .mybatis,
.notion, .github, .erd, .canva, .discord,
.project_title, .project_nav, .imgbtn
{
  /* font-family: "Jaro";
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal; */
  font-family: 'Futura PT Heavy';
}
.wrap{
    font-family: "Gothic A1", serif;
    font-weight: 600;
    font-style: normal;
}

body{padding-top: 80px; width: 100%;}
/* header */
header{width: 100%; height: 70px; display: flex; align-items: center; justify-content: space-between;
    color: #fff; background-color: #3E5547; position: fixed; top: 0; left: 0; right: 0; border-bottom: 2px solid #fff; z-index: 5;}
.header_sc{color: #3E5547; background-color: #fff; height: 50px;}
.nav_sc{color: #F2E677;}
.logo{font-size: 30px; margin-left: 30px; cursor: pointer;}
.nav{font-size: 25px; margin-right: 30px;}
.nav ul{display: flex; gap: 30px;}
.nav>ul>li{cursor: pointer;}
/* sub header */
.sub_header{color: #fff; text-align: center; margin: 100px 0;}
.sub_header .top div{width: 500px; border: 2px solid #fff; border-radius: 5px; margin: 0 auto;}
.sub_header .top :nth-child(2){padding-bottom: 20px;}
.sub_header .middle{margin-top: 20px;}
.sub_header .bottom{margin-top: 50px; padding: 10px;
    color: #8193B2; border: 2px solid #8193B2; background-color: #EEEAE6; border-radius: 5px;}

.wrap{width: 100%; margin: 0 auto;}
/* about me */
.aboutme_wrap{padding: 50px;}
.aboutme{background-color: #fff; border-radius: 5px; color: #4f4f4f;
width: 100%; height: 100%; padding: 50px; display: flex; margin-top: 100px;}
.aboutmiddle{margin: 0 100px;}
.profile p:nth-child(1){
    font-family: "Inter", serif;
    font-weight: 600;
    font-size: 25px;
    color: #3a3a3a;
}
.profile p:nth-child(2){font-size: 25px; margin-top: 5px;     color: #3a3a3a;}
.profile p:nth-child(3){font-size: 14px; margin-top: 10px;}
.profile p:nth-child(4){margin-top: 20px;}
.abouttitle{
    font-family: "Inter", serif;
    font-weight: 800;
    color: #3a3a3a;
}
.myinfo{margin-top: 50px; display: grid; grid-template-columns: 150px 1fr; gap: 10px;}
.myinfo p{font-size: 14px;}
.educationbox{margin-top: 20px; display: grid; grid-template-columns: 60px 1fr; gap: 20px;}
.licensebox{margin-top: 20px; display: grid; grid-template-columns: 60px 1fr; gap: 15px 20px;}
.licensebox p:nth-child(11), .licensebox p:nth-child(12){margin-top: 20px;}
.major, .licensebox p:nth-child(13){grid-column: span 2; font-size: 14px; padding-left: 80px; color: #7a7a7a;}

/* skills */
.skills{width: 100%; height: 100%; background-color: #EEEAE6;font-size: 14px;
    color: #4f4f4f; display: flex; padding: 100px; margin-top: 150px;}
.skills_middle{margin: 0 50px;}
.skills_left, .skills_middle, .skills_right{width: 400px;}
.skill_title{font-size: 35px; text-align: center; margin-bottom: 10px; color: #3a3a3a;}
.languagebox, .databasebox, .toolbox, .frontendbox, .backendbox{border: 2px solid #d9d9d9; padding: 20px; background-color: #fff;}
.toolbox{display: grid; grid-template-columns: 1fr 1fr; place-items: center;}
.java{font-size: 18px; color: #fff; background-color: #DC8236; width: fit-content;
    padding: 5px 10px; border-radius: 6px; margin-bottom: 10px;}
.c{font-size: 18px; color: #fff; background-color: #3A47A0; width: fit-content;
    padding: 5px 20px; border-radius: 6px; margin: 20px 0 10px 0;}
.mysql{font-size: 18px; color: #fff; background-color: #3E6389; width: fit-content;
    padding: 5px 20px; border-radius: 6px; margin-bottom: 10px;}
.eclips{font-size: 18px; color: #fff; background-color: #28204F; width: fit-content;
    padding: 5px 20px; border-radius: 6px; margin-bottom: 10px;}
.vscode{font-size: 18px; color: #fff; background-color: #3478C6; width: fit-content;
    padding: 5px 20px; border-radius: 6px; margin-bottom: 10px;}
.sts{font-size: 18px; color: #fff; background-color: #4C8D45; width: fit-content;
    padding: 5px 20px; border-radius: 6px;}
.figma{font-size: 18px; color: #fff; background-color: #E77666; width: fit-content;
    padding: 5px 20px; border-radius: 6px;}
.javascript{font-size: 18px; color: #fff; background-color: #EBD94D; width: fit-content;
    padding: 5px 20px; border-radius: 6px; margin-bottom: 10px;}
.jquery{font-size: 18px; color: #fff; background-color: #2C63A1; width: fit-content;
    padding: 5px 20px; border-radius: 6px; margin: 20px 0 10px 0;}
.html{font-size: 18px; color: #fff; background-color: #E15527; width: fit-content;
    padding: 5px 20px; border-radius: 6px; margin: 20px 0  10px 0;}
.css{font-size: 18px; color: #fff; background-color: #2E4AD5; width: fit-content;
    padding: 5px 20px; border-radius: 6px; margin: 20px 0 10px 10px;}
.react{font-size: 18px; color: #fff; background-color: #7ED0EF; width: fit-content;
    padding: 5px 20px; border-radius: 6px; margin: 20px 0 10px 0;}
.designbox{display: flex; align-items: center;}
.spring{font-size: 18px; color: #fff; background-color: #86BB55; width: fit-content;
    padding: 5px 20px; border-radius: 6px; margin-bottom: 10px;}
.jsp{font-size: 18px; color: #fff; background-color: #08C2FF; width: fit-content;
    padding: 5px 20px; border-radius: 6px; margin: 20px 0  10px 0;}
.mybatis{font-size: 18px; color: #fff; background-color: #000; width: fit-content;
    padding: 5px 20px; border-radius: 6px; margin: 20px 0  10px 0;}
.pinterest{font-size: 18px; color: #fff; background-color: #D32D2F; width: fit-content;
        padding: 5px 20px; border-radius: 6px;}
.backendbox p:nth-child(3), .backendbox p:nth-child(4), .backendbox p:nth-child(5){margin-top: 10px;}

/* project */
.project_wrap{padding: 50px; height: max-content;}
.project{width: 100%; height: max-content; margin-top: 100px; display: grid; justify-items: center; color: #3a3a3a;}
.project_title{margin-bottom: 20px; font-size: 25px; color: #f2e677;}
.project_view{width: 600px; height: 400px; background-color: #fff;
    border-radius: 5px; padding: 20px;}
.project_time{margin: 30px 0;}
.project_view>div>div{margin: 10px 0;}
.view:hover{transform: scale(1.03); transition: transform 0.3s ease; cursor: pointer;}
.info{display: none; height: max-content;}
.project_info{width: 100%; display: flex; justify-content: left;}
.project_nav>ul>li{color: #8193B2; padding: 15px 20px; cursor: pointer;}
.project_nav>ul>li.on{background-color: #fff; border: none;}
.infobox{background-color: #fff; width: 1200px; height: 100%; padding: 40px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;}

.info_top{display: grid; grid-template-columns: 1fr 1fr; gap: 100px;}
.info_top>div>div>div{margin-bottom: 20px;}
.info_part>div, .my_part>div{margin-bottom: 20px;}
.info_top{margin-bottom: 70px;}
#my_portfolio .info_top{margin-bottom: 0;}
/* .project_skills>div:nth-child(2){display: grid; grid-template-columns: repeat(3, 1fr); width: 100%; gap: 10px;} */
.project_skills>div:nth-child(2){display: flex; flex-wrap: wrap; gap: 10px;}
.project_skills>div:nth-child(2)>div{font-size: 13px;}
.project_skills div{margin: 0;}
.project_tools, .project_site{margin-top: 50px;}
.notion{font-size: 18px; color: #fff; background-color: #000; width: fit-content;
    padding: 5px 20px; border-radius: 6px;}
.github{font-size: 18px; color: #fff; background-color: #EA4AAA; width: fit-content;
    padding: 5px 20px; border-radius: 6px;}
.erd{font-size: 18px; color: #fff; background-color: #9188F4; width: fit-content;
    padding: 5px 20px; border-radius: 6px;}
.canva{font-size: 18px; color: #fff; background-color: #6D50DB; width: fit-content;
    padding: 5px 20px; border-radius: 6px;}
.discord{font-size: 18px; color: #fff; background-color: #757DF0; width: fit-content;
    padding: 5px 20px; border-radius: 6px;}
.project_tools>div:nth-child(2){display: flex; flex-wrap: wrap; gap: 10px; margin-top: 20px;}
.project_tools>div:nth-child(2)>div{font-size: 13px; padding: 5px 10px;}
.project_tools>div, .project_site{
    font-family: "Inter", serif;
    font-weight: 600;
}
.project_site>div:nth-child(2){display: flex;}
.project_site>div:nth-child(2)>div>a{display: block;}
.project_site>div:nth-child(2)>div{margin-right: 10px; font-size: 13px; background-color: #EEEAE6; border: 2px solid #8193B2; color: #8193B2; padding: 5px 10px; border-radius: 5px;}
.info_part>div:nth-child(2){display: flex; justify-content: space-between;}
.info_part>div:nth-child(2)>div{width: calc(100% / 2); padding-right: 20px;}
.info_part>div:nth-child(2)>div:nth-child(2){margin-left: 30px;}
#khleague .info_part>div:nth-child(2)>div:nth-child(2){margin-left: 50px;}
.info_part>div:nth-child(2)>div>div>p:last-child{color: #7a7a7a; margin: 10px 0 30px 0;}
.mine{display: flex; align-items: center;}
.mine>p{color: #8193B2;}
.line{width: 250px; height: 8px; background-color: #8193B2; margin: 0 20px; border-radius: 10px;}
.my_part{margin-top: 70px;}
.front-end, .back-end{display: none;}
.front-end p, .back-end p{color: #4f4f4f; margin: 20px 0;}
.front-end .imgbtn:last-of-type, .back-end .imgbtn:last-of-type{margin-bottom: 0;}
.imgbtn{transition: background-color 0.5s ease, color 0.5s ease; margin-bottom: 50px; padding: 5px 10px; color: #8193b2; border: 2px solid #8193b2; border-radius: 5px; background-color: #fff;}
.imgbtn:hover{background-color: #8193B2; color: #fff;}
.portfolio_info{display: flex; align-items: center; justify-content: space-between;}
.portfolio_info>button{margin-bottom: 0;}
.nonp{display: none;}

/* contact */
.contactme_wrap{padding: 50px; text-align: center;}
.contactme_title{font-size: 100px; color: #f2e677;}
.contactme{text-align: center; display: flex; justify-content: center; width: 100%; height: 300px;}
/* .contactbox1{position: absolute; top: 50px; left: 300px; z-index: -9998;} */
.contactbox1{margin-top: 30px; position: relative;}
.contactbox1 .clip{position: absolute;}
.cbox1>button{position: absolute; top: 165px; left: 100px;}
/* .contactbox2{position: absolute; top: 100px; right: 300px; z-index: -9999;} */
.contactbox2{margin-top: 120px; margin-left: 130px; position: relative;}
.contactbox2 .clip{position: absolute;}
.cbox2>button{position: absolute; top: 165px; right: 100px;}
.contactbox1:hover, .contactbox2:hover{cursor: pointer; transform: scale(1.03); transition: transform 0.3s ease;}

.cboxtitle{font-size: 40px; color: #d50032;}
.cboxtitle span{font-size: 60px;}
.clip{font-size: 30px;}
.contactme button{font-family: "Inter", serif; font-weight: 800; background-color: #EEEAE6; color: #8193B2; border: 2px solid #8193B2; border-radius: 5px; padding: 5px 20px;}
.cbox1>div, .cbox2>div{font-family: "Futura PT Heavy"; color: #8193B2; background-color: #fff;
    padding: 30px 25px 40px 25px; border-radius: 50px; margin:10px 20px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.contactme_txt{color: #fff; font-size: 14px;}
.contactme_txt>p:first-child{font-family: "Inter";}
.contactme_txt>p{margin: 10px 0;}

/* footer */
footer{position: relative; height: 50px; background-color: rgba(0, 0, 0, 0.5); color: #fff; display: flex; align-items: center; justify-content: center;}
footer p{font-family: "Inter";}
footer P>a:hover{color: #d50032; font-weight: 800;}
footer span{position: absolute; top: 25; right: 0; font-size: 13px; margin-right: 5px;}

/* modal */
.modalbox img{height: 100%; width: 900px;} 
.modal_belt{overflow: hidden; width: 900px;}
.modal_belt>ul{display: flex; transition: transform 0.5s ease;}

.leftbtn, .rightbtn{color: #fff; background-color: rgba(0, 0, 0, 0.3); padding: 5px; border-radius: 10px; cursor: pointer;}
.leftbtn{margin-right: 20px;}
.rightbtn{margin-left: 20px;}
.modalbox{display: flex; align-items: center; padding: 10px; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 15;}
.modalbg{width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 10; background-color: rgba(0, 0, 0, 0.3);}
.body{position: relative;}
.modalbox, .modalbg{display: none;}
#wdmiddle{width: 750px;}

/* topbtn */
.topbtn{position: fixed; bottom: 20px; right: 20px; color: #fff; background-color: rgba(0, 0, 0, 0.3); padding: 5px; border-radius: 10px; cursor: pointer; display: none;}
.topbtn:hover{background-color: rgba(255, 255, 255, 0.5);}

/* ---------------------------------- */
/* 반응형 1-스마트폰 */
@media screen and (min-width:320px) {
    header{height: 50px;}
    .logo a{font-size: 20px;}
    .nav{font-size: 15px;}
    .sub_header div{
          font-size: 50px;
    }
    .sub_header .top div{width: 350px;}
    /* about me */
    .aboutme {flex-direction: column; padding: 20px;}
    .aboutmiddle{margin: 0;}
    .aboutmiddle, .aboutright{margin-top: 50px;}
    .profile p:nth-child(1){font-size: 23px;}
    .profile p:nth-child(2){font-size: 23px;}
    .profile p:nth-child(4){margin-top: 20px;}

    /* skills */
    .skills {flex-direction: column; align-items: center; padding: 40px; font-size: 13px;}
    .skills_left, .skills_middle, .skills_right {width: 100%; margin-bottom: 20px;}
    .skill_title {font-size: 25px; text-align: left;}
    .java, .c, .mysql, .eclips, .vscode, .sts, .figma,
    .javascript, .jquery, .html, .css, .react, .spring, .jsp, .mybatis {
        font-size: 15px;
        padding: 5px 15px;
    }

    /* project-view */
    .project{grid-template-columns: 1fr; gap: 30px;}
    .project_view{width: 400px; height: 100%;}
    /* project-info */
    .info{font-size: 14px;}
    .info_top {grid-template-columns: 1fr;}
    .info_part>div:nth-child(2){flex-direction: column;}
    .info_part>div:nth-child(2)>div{width: calc(100%); padding-right: 0px;}
    #khleague .info_part>div:nth-child(2)>div:nth-child(2) {margin-left: 0px;}
    .info_part>div:nth-child(2)>div:nth-child(2){margin-left: 0px;}
    .project_info{flex-direction: column;}
    .project_nav>ul{display: flex;}
    .project_nav>ul>li.on{border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-left-radius: 0px;}
    .infobox{width: 100%;}
    .portfolio_info{flex-direction: column;}
    .portfolio_info button{margin-top: 10px;}

    /* contactme */
    .contactbox1{margin-top: 30px;}
    .contactbox2{margin-top: 180px; margin-left: 0px;}
    .cboxtitle{font-size: 30px;}
    .cboxtitle span{font-size: 50px;}
    .contactme_title{font-size: 70px;}

    .contactbox1 .clip{top: 45px; left: 200px;}
    .contactbox2 .clip{top: 55px; left: 210px;}
    .cbox1>button{top: 130px; left: 80px;}
    .cbox2>button{top: 130px; right: 80px;}
    .cbox1>div, .cbox2>div{padding: 30px 20px 30px 20px; border-radius: 50px; margin:0px;}
    .contactme_txt{margin-top: 90px;}
    footer span{display: none;}

    /* modal */
    .modalbox img{width: 400px;} 
    .modal_belt{width: 400px;}
    #wdmiddle{width: 400px;}
}

/* 반응형 1-태블릿 */
@media screen and (min-width:768px) and (max-width:1024px){
    header{height: 60px;}
    .logo a{font-size: 25px;}
    .nav{font-size: 20px;}
    .sub_header div{
          font-size: 65px;
    }
    .sub_header .top div{width: 450px;}
    /* about me */
    .aboutme {flex-direction: column; padding: 20px;}
    .aboutmiddle{margin: 0;}
    .aboutmiddle, .aboutright{margin-top: 50px;}
    .profile p:nth-child(1){font-size: 25px;}
    .profile p:nth-child(2){font-size: 25px;}
    .profile p:nth-child(4){margin-top: 20px;}

    /* skills */
    .skills {flex-direction: column; align-items: center; padding: 50px; font-size: 14px;}
    .skills_left, .skills_middle, .skills_right {width: 100%; margin-bottom: 20px;}
    .skill_title {font-size: 25px; text-align: left;}
    .java, .c, .mysql, .eclips, .vscode, .sts, .figma,
    .javascript, .jquery, .html, .css, .react, .spring, .jsp, .mybatis {
        font-size: 16px;
        padding: 5px 15px;
    }

    /* project-view */
    .project{grid-template-columns: 1fr; gap: 30px;}
    .project_view{width: 400px; height: 100%;}
    /* project-info */
    .info{font-size: 16px;}
    .info_top {grid-template-columns: 1fr 1fr;}
    .info_part>div:nth-child(2){flex-direction: row;}
    .info_part>div:nth-child(2)>div{width: calc(100% / 2); padding-right: 20px;}
    #khleague .info_part>div:nth-child(2)>div:nth-child(2) {margin-left: 50px;}
    .info_part>div:nth-child(2)>div:nth-child(2){margin-left: 30px;}
    .project_info{flex-direction: column;}
    .project_nav>ul{display: flex;}
    .project_nav>ul>li.on{border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-left-radius: 0px;}
    .infobox{width: 100%;}
    .portfolio_info{flex-direction: column;}
    .portfolio_info button{margin-top: 10px;}

    /* contactme */
    .contactbox1{margin-top: 30px;}
    .contactbox2{margin-top: 120px; margin-left: 130px;}
    .cboxtitle{font-size: 30px;}
    .cboxtitle span{font-size: 50px;}
    .contactme_title{font-size: 90px;}

    .contactbox1 .clip{top: 55px; left: 220px;}
    .contactbox2 .clip{top: 55px; left: 220px;}
    .cbox1>button{top: 150px; left: 100px;}
    .cbox2>button{top: 150px; right: 100px;}
    .cbox1>div, .cbox2>div{padding: 30px 25px 40px 25px; border-radius: 50px; margin:10px 20px;}
    .contactme_txt{margin-top: 70px;}
    footer span{display: block;}

    /* modal */
    .modalbox img{width: 700px;} 
    .modal_belt{width: 700px;}
    #wdmiddle{width: 700px;}
}

/* 반응형 1-데스크탑 */
@media screen and (min-width:1024px) {
    header{height: 70px;}
    .logo a{font-size: 30px;}
    .nav{font-size: 25px;}
    .sub_header div{
          font-size: 80px;
    }
    .sub_header .top div{width: 500px;}
    /* about me */
    .aboutme {flex-direction: row; padding: 50px;}
    .aboutmiddle, .aboutright{margin-top: 0px;}
    .aboutmiddle{margin: 0 100px;}
    .profile p:nth-child(1){font-size: 25px;}
    .profile p:nth-child(2){font-size: 25px;}
    .profile p:nth-child(4){margin-top: 20px;}

    /* skills */
    .skills {flex-direction: row; align-items: baseline; padding: 100px; font-size: 14px;}
    .skills_left, .skills_middle, .skills_right {width: 100%; margin-bottom: 20px;}
    .skill_title {font-size: 35px; text-align: center;}
    .java, .c, .mysql, .eclips, .vscode, .sts, .figma,
    .javascript, .jquery, .html, .css, .react, .spring, .jsp, .mybatis {
        font-size: 18px;
        padding: 5px 15px;
    }

    /* project-view */
    .project{grid-template-columns: 1fr 1fr; gap: 50px;}
    .project_view{width: 600px; height: 400px;}
    /* project-info */
    .info{font-size: 16px;}
    .info_top {grid-template-columns: 1fr 1fr;}
    .info_part>div:nth-child(2){flex-direction: row;}
    .info_part>div:nth-child(2)>div{width: calc(100% / 2); padding-right: 20px;}
    #khleague .info_part>div:nth-child(2)>div:nth-child(2) {margin-left: 50px;}
    .info_part>div:nth-child(2)>div:nth-child(2){margin-left: 30px;}
    .project_info{flex-direction: row;}
    .project_nav>ul{flex-direction: column;}
    .project_nav>ul>li.on{border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-left-radius: 5px;}
    .infobox{width: 1200px;}
    .portfolio_info{flex-direction: row;}
    .portfolio_info button{margin-top: 0px;}

     /* contactme */
    .contactbox1{margin-top: 30px;}
    .contactbox2{margin-top: 120px; margin-left: 130px;}
    .cboxtitle{font-size: 40px;}
    .cboxtitle span{font-size: 60px;}
    .contactme_title{font-size: 100px;}

    .contactbox1 .clip{top: 70px; left: 220px;}
    .contactbox2 .clip{top: 70px; left: 220px;}
    .cbox1>button{top: 165px; left: 100px;}
    .cbox2>button{top: 165px; right: 100px;}
    .cbox1>div, .cbox2>div{padding: 30px 25px 40px 25px; border-radius: 50px; margin:10px 20px;}
    .contactme_txt{margin-top: 70px;}
    footer span{display: block;}

    /* modal */
    .modalbox img{width: 900px;} 
    .modal_belt{width: 900px;}
    #wdmiddle{width: 750px;}
}